[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
fastapi = {extras = ["all"],version = "==0.38.1"}
python-dotenv = "==0.10.2"
tortoise-orm = "==0.13.5"
aiomysql = "==0.0.20"

[requires]
python_version = "3.7"
